header{
    background-color: #2C3E50;
}

/* .nav-links{
    text-align: end;
} */

.jumbo-section{
    background-color:#1ABC9C ;
}

.jumbo-content{
    background-color: red;
    min-height: 400px;
}