header{
    background-color: #2C3E50;
}

/* .nav-links{
    text-align: end;
} */

section{
    padding: 40px;
}

.jumbo-section{
    background-color:#1ABC9C ;
}

.jumbo-img{
    max-width: 200px;
}

.white-row{
    display: inline-block;
    height: 10px;
    width: 100px;
    border-bottom: 2px solid white;
}

.col-card{
    min-height: 200px;
    background-color: blue;
}

.about-section{
    background-color: #1ABC9C;
}

.col-5-content{
    background-color: green;
    height: 300px;
}

.col-12-content{
    background-color: grey;
    height: 400px;
}

.top-footer{
    background-color: #3A546D;
}
.bottom-footer{
    background-color: #2C3E50;
}


.col-4-content{
    height: 200px;
    background-color: grey;
}

a{
    color: white;
    text-decoration: none;
}