header{
    background-color: #2C3E50;
}
a{
    color: white;
    text-decoration: none;
}

section{
    padding: 50px;
}

.jumbo-section{
    background-color:#1ABC9C ;
}

.jumbo-img{
    max-width: 200px;
}

.icon-row{
    display: inline-block;
    height: 10px;
    width: 100px;
}

.icon-row.white-row{
    border-bottom: 2px solid white;
}
.icon-row.black-row{
    border-bottom: 2px solid black;
}

.about-section{
    background-color: #1ABC9C;
}

.my-btn-style{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.top-footer{
    padding: 60px;
    background-color: #3A546D;
}

.social-icon-style{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid white;
    height: 35px;
    width: 35px;
    
    border-radius: 50%;

}
.bottom-footer{
    padding: 40px;
    background-color: #2C3E50;
}

.my-form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:#2C3E50;
    outline: 0;
    box-shadow: none;
}

.contact-btn{
    color: white;
    background-color:#1ABC9C ;
}